* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
html {
  font-size: 1px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: rgb(66, 66, 66);
}
body {
  height: inherit;
  width: inherit;
}
form {
  height: 0rem;
  width: 0rem;
}
textarea {
  /* will prevent resizing horizontally */
  resize: none;
}
a {
  text-decoration: none;
}
